# Visual Studio / VS Code
**/.vs/
.vs/
**/.vscode/*
!**/.vscode/extensions.json
!**/.vscode/launch.json
!**/.vscode/tasks.json

# Visual Studio solution/project files
**/*.sln
**/*.esproj.user
**/*.pyproj.user

# Node.js
**/node_modules/
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store
yborarchives.client.slnLaunch.user
yborarchives.client/angular.json
yborarchives.client/obj/Debug/yborarchives.client.esproj.FileListAbsolute.txt
YborArchives.Server/obj/Debug/net9.0/rpswa.dswa.cache.json
YborArchives.Server/obj/Debug/net9.0/spa.proxy.json
YborArchives.Server/obj/Debug/net9.0/YborArchives.Server.AssemblyInfo.cs
YborArchives.Server/obj/Debug/net9.0/YborArchives.Server.AssemblyInfoInputs.cache
YborArchives.Server/obj/Debug/net9.0/YborArchives.Server.assets.cache
YborArchives.Server/obj/Debug/net9.0/YborArchives.Server.csproj.AssemblyReference.cache
YborArchives.Server/obj/Debug/net9.0/YborArchives.Server.GeneratedMSBuildEditorConfig.editorconfig
YborArchives.Server/obj/project.assets.json
YborArchives.Server/obj/project.nuget.cache
YborArchives.Server/obj/YborArchives.Server.csproj.nuget.dgspec.json
YborArchives.Server/obj/YborArchives.Server.csproj.nuget.g.props
YborArchives.Server/obj/YborArchives.Server.csproj.nuget.g.targets
