<div class=" top-0 p-10 m-0 relative shadow-tigers-eye shadow flex ">
  <p class="text-xl text-dark-moss-green font-semibold font-stretch-expanded font-Oswald">Ybor Archival DataBase</p>
  <p class="grow"></p>
  <label class="px-5 p-1  ">Search</label>
  <input class="px-5 p-1 border" />
  <p class="px-5 p-1 ">Filter</p>
  <p class="px-5 p-1 ">Export To Excel</p>
  <p class="px-5 p-1 ">Print</p>
  <a [routerLink]="['/artifact-edit', new]" class="px-5 p-1  bg-pakistan-green text-white rounded-full">New
    Artifact</a>
</div>